<!doctype html>

<html>
<head>
	<title>QuizWhiz</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/introHCI.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->        
    </head>

    <body>
     <div class="container">
      <!-- h1 through h6 are headers. The higher the number, the smaller the header -->
      <!-- p means paragraph -->
      <div class="jumbotron">
        <div class="t1">	<h1>QuizWhiz</h1></div>



      </div>





    </div>



    <!--<div class="form-group">
      <label for="project">Friend's name(last, first)</label>
      <select class="form-control" id="project">
        <option value="#project1"></option>
 
      </select>
    </div>
    <![endif]-->  
    <div class="mainButton">
    	<a href="signup.html"><button id="Sign Up" type="button" class="btn btn-default">Sign Up</button></a>
      <hr>
      <a href="student.html"><button id="Student Login" type="button" class="btn btn-default">Student Login</button></a>

    <div class="container">
      <form id="loginForm" role="form" method="get" action="/login">
        <h3>Login</h3>
        <div class="form-group">
          <label for="name">Username:</label>
          <input type="text" class="form-control" id="username" placeholder="Username" name="username">
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" class="form-control" id="password" placeholder="Password" name="password">
        </div>
        <input type="submit" id="loginBtn" class="btn btn-default" value="Login"></input>
      </form>
    </div>







      <hr>
      <a href="instructor.html"><button id="Instructor Login" type="button" class="btn btn-default">Instructor Login</button></a>

    </div>

    

    <div class="help">
      <a href="help.html"><button id="helpBtn" type="button" class="btn btn-default">?</button></a>
    </div>

  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/introHCI.js"></script>
</body>
</html>
