<!doctype html>

<html>
</head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/bootstrap-theme.min.css" rel="stylesheet">
<link href="css/introHCI.css" rel="stylesheet">
<body>
 <div class="container">
  <!-- h1 through h6 are headers. The higher the number, the smaller the header -->
  <!-- p means paragraph -->
  <div class="jumbotron">
   <h1>Welcome!</h1>
   <h2>Student</h2>

   <a href="/"><button id="testjs" class="btn btn-primary btn-lg">Logout</button></a>
 </div>

 <!--  this is friend section -->
 <h4>Friends</h4>

 <div class="Friends" id="project1">
   <a href="" class="thumbnail">
    <img src="" alt="Jason" class="img">
    <img src="" alt="Luis" class="img">
    <img src="" alt="Xiaoping" class="img">
  </a>
</div>

<!--  this is topic section -->
<div class="TopicHeader">
 <h4>Class/Subject</h4>
</div>


<div class="Topic" id="project2">
 <a href="" class="thumbnail">
  <button id="courseBtn1" type="button" class="btn btn-default">MATH 10A</button> 
  <button id="courseBtn2" type="button" class="btn btn-default">BILD 1</button>
</a>
</div>




</div>


<form id="projectForm" role="form">
    <!--<div class="form-group">
      <label for="project">Friend's name(last, first)</label>
      <select class="form-control" id="project">
        <option value="#project1"></option>
 
      </select>
    </div>
    <![endif]-->  
    <div class="PlayButton">
      <a href="/play"><button id="playBtn" type="button" class="btn btn-default">PLAY</button></a>
    </div>

    <div class="StatsButton"><a href="/myStats"><button id="statsBtn" type="button" class="btn btn-default">My Stats</button></a></div>

    <div class="help">
      <a href="/help"><button id="helpBtn" type="button" class="btn btn-default">?</button></a>
    </div>
  </form>


  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/introHCI.js"></script>
</body>
</html>
